.country-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.flag-container img{
    width: 60px;
    height: 60px;
    gap: 10px;
    padding: 16px;
    margin: 16px;
    border-radius: 10px;
    border: 2px solid purple;
}
.coun-css{
    border: 1px solid purple;
    padding: 8px;
    margin: 8px;
}